# Loop

1. Print numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1, 11) :
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

2. Print all even numbers from 1 to 20.

In [ ]:
for i in range(1,21):
    if i % 2 == 0 :
        print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20

3. Print each character of the string: 'Python'.

In [ ]:
text = 'Python'
for i in text :
    print(i, end = ' ')

P y t h o n

4. Using a while loop, print numbers from 5 down to 1.

In [8]:
n = 5
while n > 0 :
    print(n, end = ' ')
    n -= 1

5 4 3 2 1


5. Write a loop to find the sum of numbers from 1 to 50.

In [9]:
sum = 0
for i in range(1, 51) :
    sum += i
print(sum)

1275


6. Print the multiplication table of 5 (from 5×1 to 5×10).

In [11]:
for i in range(1, 11) :
    print(f"{i} * 5 = {i*5}")

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50


7. Find how many vowels are present in the string 'Programming'.

In [12]:
text = 'Programming'
vowelCount = 0
for i in text.lower() :
    if i in 'aeiou' :
        vowelCount += 1
print('Number of vowels in Programming : ',vowelCount)

Number of vowels in Programming :  3


8. Use a loop to reverse the string 'PythonLoops'.

In [13]:
text = 'PythonLoops'
revText = ''
for i in text :
    revText = i + revText
print(revText)

spooLnohtyP


9. Print numbers from 1–10, but skip 5 using continue.

In [ ]:
for i in range(1, 11) :
    if i == 5 :
        continue
    print(i, end = ' ')

1 2 3 4 6 7 8 9 10


10. Print numbers from 1–20, but stop when number reaches 13 using break.

In [18]:
for i in range(1, 21) :
    if i == 13 :
        break
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12


11. Write a loop to check if a number is prime.

In [21]:
import math
n = int(input("Enter a number : "))
prime = True
for i in range(2, int(math.sqrt(n))+1) :
    if n % i == 0 :
        prime = False
print(n, "is prime" if prime else "is not prime")

53 is prime


12. Count how many times each character occurs in 'mississippi'.

In [ ]:
text = 'mississippi'
d = {}
for i in text :
    if i in d :
        d[i] += 1
    else :
        d[i] = 1
for i,j in d.items() :
    print(f"{i} : {j}")

m : 1
i : 4
s : 4
p : 2


13. Using nested loops, print the pattern: *, **, ***, ****, *****.

In [26]:
for i in range(1, 6) :
    print(i*'*')

*
**
***
****
*****


14. Write a loop to find the largest digit in the number 5847361.

In [28]:
number = 5847361
maxdigit = 0
while number :
    maxdigit = max(number%10, maxdigit)
    number //= 10
print(maxdigit)

8

15. Write a loop to print the pattern: *****, ****, ***, **, *

In [31]:
for i in range(5, 0, -1) :
    print(i * '*')

*****
****
***
**
*