In [1]:
print("Hello SkillGap")

Hello SkillGap

In [2]:
name = "Your Name"

In [3]:
age = 25;city = "Chennai";skill = "Python";print(age,city,skill)

25 Chennai Python

In [4]:
value = str(100); print(type(value))

<class 'str'>

In [5]:
text = 'Python basics'; print(text.upper())

PYTHON BASICS

In [6]:
print(len("SkillGapAI"))

10

In [7]:
colors = ['red', 'blue', 'green']; print(colors[1])

blue

In [8]:
fruits = ['apple', 'banana']; fruits.append('orange')

In [9]:
items = ['apple', 'banana', 'orange']; items.remove('banana')

In [10]:
nums = [1, 2, 3]; t = tuple(nums); print(type(t))

<class 'tuple'>

In [11]:
resume = {'name':'John', 'age':25, 'skills':['Python', 'SQL']}

In [13]:
print(resume['skills'])

['Python', 'SQL']

In [14]:
marks = 50; print('Pass' if marks > 40 else 'Fail')

Pass

In [15]:
num = 7; print("Even" if num%2==0 else "Odd")

Odd

In [16]:
for i in range(1, 11): print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
i = 5; 
while i>=1: 
    print(i)
    i-=1

5
4
3
2
1

In [21]:
def say_hello(): print('Hello')

In [22]:
def add(a,b): return a+b

In [23]:
import math;
print(math.pi)

3.141592653589793