## JSON Practice Questions (10)

1. Convert the JSON string {'name': 'Alex', 'age': 22, 'city': 'Chennai'} into a Python dictionary.

2. Convert the dictionary {'id': 101, 'product': 'Laptop', 'price': 55000} into a JSON string.

3. Read a JSON file named data.json and print all key-value pairs.

4. Write the dictionary {'name': 'Mia', 'age': 24, 'grade': 'A'} into a JSON file student.json.

5. From JSON {'employee': {'name': 'John', 'age': 30, 'department': 'HR'}}, print only the department.

6. Update the dictionary {'name': 'Raj', 'age': 45} by changing age to 50 and convert it to JSON.

7. Read a JSON list ['red', 'green', 'blue'] and print the second item.

8. From JSON {'users': [{'id':1,'name':'Alex'}, {'id':2,'name':'Mia'}]}, print all user names.

9. Add a new key 'country': 'India' to {'name': 'Sam', 'age': 28} and convert back to JSON.

10. Create items.json with [{'item':'Pen','price':10}, {'item':'Book','price':50}, {'item':'Bag','price':700}]
and print total cost.